.contacts-link {
    width: 36px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    outline: none;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}


@media screen and (max-width: 1199.98px) {
    
}
