.cursor {
    position: fixed;
    z-index: 300;

    width: 45px;
    height: 45px;

    border-radius: 100%;
    background-color: var(--grey);
    border: 1px solid  var(--white);
    opacity: .3;
    transform: translate(-50%, -50%);
    pointer-events: none;

    transition: width .3s, height .3s, opacity .3s;
}

@media (hover: none) {
    .cursor {
        opacity: 0;
        visibility: hidden;
    }
}
