.logo {
    display: block;
    width: 176px;
    height: 60px;

    text-decoration: none;
    overflow: hidden;
}

.logo > img {
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 1199.98px) {
    .logo {
        width: 173px;
        height: 46px;
    }
}
