.modal-filter-bar {
    position: fixed;
    right: 0;
    left: 0;
    bottom: -999px;
    z-index: 155;

    width: 100vw;
    height: 100vh;

    background-color: transparent;
    transition: 0.4s;
}

.filters-open .modal-filter-bar {
    bottom: 0;
}

.modal-filter-bar__body {
    position: relative;
    z-index: 150;

    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 50px;
    padding: 30px;
    margin-left: auto;

    background-color: var(--black);
}

.modal-filter-bar__close-button {
    position: absolute;

    top: 24px;
    right: 24px;

    background-color: transparent;
    border: none;
    outline: none;
    transition: 0.4s;
}
